% extends "index.html"

% block title
Team
% endblock

% block banner
% endblock

% block content
<span class="team title">Meet Team Katz</span>
<span class="team description">We're an indie gamedev studio. Our first game is currently being developed, and we sometimes post about our progress on the blog.</span>
<div class="team rooster wrap">
    <div class="team rooster">
        % for member in team:
        <div class="team member">
            <div style="background-image: url({{ url_for('static', filename=member.avatar_url ) }}); width: 161px; height: 161px;"></div>
            <span class="team member name">{{ member.name }}</span>
            <span class="team member role">{{ member.roles }}</span>
        </div>
        % endfor
    </div>
</div>
% endblock