% macro requirements()
<!-- FACEBOOK -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- TWITTER -->
<script>window.twttr = (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function (f) {
        t._e.push(f);
    };

    return t;
}(document, "script", "twitter-wjs"));</script>

<!-- GOOGLE PLUS -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
% endmacro

% macro twitter()
<a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-count="none">Tweet</a>
% endmacro

% macro facebook(article)
<div class="fb-share-button" data-href="{{ request.url }}" data-layout="button"></div>
<!--<div class="fb-share-button" data-href="{{ url_for('blog.show', article_public_url=article.public_url) }}"-->
     <!--data-layout="button_count"></div>-->
% endmacro

% macro pinterest()
<a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" data-pin-color="red"><img
        src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png"/></a>
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
% endmacro

% macro google_plus()
<div class="g-plusone" data-size="medium" data-annotation="none"></div>
% endmacro

% macro disqus()
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'katzstudio';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
    powered by Disqus.</a></noscript>
% endmacro

% macro facebook_comments()
<div class="fb-comments" data-href="{{ request.url }}" data-width="620" colorscheme="dark" data-numposts="5"></div>
% endmacro