
{# Imports one or more local javascript files #}
% macro js(args)
    % if args is string:
        <script src="{{ url_for('static', filename='js/' + args) }}" defer></script>
    % elif args is iterable:
        % for js in args:
            <script src="{{ url_for('static', filename='js/' + js) }}" defer></script>
        % endfor
    % endif
% endmacro


{# Imports one or more local css files #}
% macro css(args)
    % if args is iterable:
        % for name in args:
            <link type="text/css" href="{{ url_for('static', filename='css/' + name) }}" rel="stylesheet" />
        % endfor
    % else
        <link type="text/css" href="{{ url_for('static', filename='css/' + args) }}" rel="stylesheet" />
    % endif
% endmacro


% macro header(title, description, keywords)
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="Description" content="{{ description }}">
    <meta name="Keywords" content="{{ keywords }}">

    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>

% endmacro


{# Imports one or more external javascript libraries #}
% macro jslibs(names)
    % for name in names:
        % if name == "jquery":
            {{ import_jquery() }}
        % elif name == "react":
            {{ import_react() }}
        % elif name == "react-dom":
            {{ import_react_dom() }}
        % elif name == "freewall":
            {{ import_freewall() }}
        % elif name == "photoswipe":
            {{ import_photoswipe() }}
        % endif
    % endfor
% endmacro


{# Imports the jQuery library #}
% macro import_jquery()
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    {# Import the local plugins #}
    <script src="{{ url_for('static', filename='js/libs/jquery_plugins.js') }}" defer></script>
% endmacro


{# Imports the React library #}
% macro import_react()
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.js"></script>
% endmacro


{# Imports the ReactDom library #}
% macro import_react_dom()
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-dom.min.js"></script>
% endmacro

{# Imports the freewall library: http://vnjs.net/www/project/freewall/ #}
% macro import_freewall()
    <script src="https://cdnjs.cloudflare.com/ajax/libs/freewall/1.0.5/freewall.min.js"></script>
% endmacro

% macro import_photoswipe()
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/photoswipe.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/default-skin/default-skin.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/photoswipe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/photoswipe-ui-default.min.js"></script>

{#    <link rel="stylesheet" href="{{ url_for('static', filename='photoswipe/photoswipe.css') }}">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='photoswipe/default-skin/default-skin.css') }}">#}
{#    <script src="{{ url_for('static', filename='photoswipe/photoswipe.min.js') }}"></script>#}
{#    <script src="{{ url_for('static', filename='photoswipe/photoswipe-ui-default.min.js') }}"></script>#}
% endmacro