*, *::before, *::after {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #fae7d7;
    font-family: "Open Sans", sans-serif;
}

body.no-footer {
    margin-bottom: 0;
}

//noinspection CssUnknownTarget
body.high-quality {
    background-image: url('../img/bg_light.png');
}

a {
    text-decoration: none;
    color: #66a888;
}

a:hover {
    border-bottom: 1px solid;
}

footer {
    @include inner-box-shadow(0, 2px, 10px, rgba(0, 0, 0, 0.12));

    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 0;

    height: $footer-height;
    width: 100%;

    display: block;
    line-height: 17px;

    background-color: $dark-bgcolor;

    font-family: "Arial", sans-serif;
    color: #556473;
    text-align: center;
    overflow: hidden;
}

footer * {
    display: block;
}

footer a {
    display: inline-block;
    text-decoration: underline;
    border-width: 0;
    color: inherit;
}

footer .copyright {
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    margin-top: 8px;
    margin-bottom: 3px;
}

footer .description {
    font-size: 11px;
    height: 20px;
}

.page {
    display: block;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
}

//noinspection CssUnknownTarget
div#logo {
    width: 150px;
    height: 34px;
    margin: 13px 20px 0;
    background: url('../img/katz_logo_small.png') no-repeat;
    background-size: contain;
    float: left;
}

ul.header-menu a {
    display: block;
    width: 60px;
    font-family: "Open Sans", serif;
    font-size: 13px;
    color: rgba(245, 245, 255, 0.5);
    text-decoration: none !important;
    border-bottom-width: 0;
    text-transform: uppercase;
    @include transition(0.3s);
    font-weight: 600;
}

ul.header-menu li {
    float: left;
    height: $nav-height;
    line-height: $nav-height;
    text-align: center;
    border-bottom: 4px solid transparent;
}

ul.header-menu li:hover a {
    color: rgba(245, 245, 255, 1);
}

.navbar {
    height: $nav-height;
    background-color: hsla(212, 18%, 18%, 1);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1030;
    @include box-shadow(0, 2px, 6px, rgba(0, 0, 0, 0.5));
}

.navbar.admin {
    @include box-shadow(0, 0, 0, transparent);
}

.navbar .content {
    margin-left: auto;
    margin-right: auto;

    width: $break-large;

    @media screen and (max-width: $break-large) {
        width: 100%;
    }
}

.navbar .header-menu {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin: 0 0 0 auto;
    float: right;
    height: $nav-height;
}

.navbar .content.full-width {
    padding-right: 50px;
    width: calc(100% - 40px);
}

.full-width {
    width: 100% !important;
}

.inner-body {
    width: $desktop-width;
    margin: 0 auto;
    padding: 60px 0 0;
    border: 0;
    height: calc(100% - 50px);

    @media screen and (max-width: $break-large) {
        width: 100%;
    }
}

.inner-body.full-width {
    width: 100%;
}

.inner-content {
    padding: 10px 0 0;
    height: 100%;
    display: block;
    width: 720px;
    float: left;
    margin-bottom: 30px !important;

    @media screen and (max-width: $break-large) {
        width: 100%;
        margin-left: 0;
    }
}

.inner-content.full-width {
    margin: 0;

    @media screen and (max-width: $break-large) {
        width: 100%;
        margin-left: 0;
    }
}

#banner-wrap {
    background-color: rgba(44, 53, 63, 0.53);
    padding: 0;
    margin-top: $nav-height;
    margin-bottom: -4em;
    width: 100%
}

#banner {
    display: block;
    padding: 0;
    width: 100%;
    height: 400px;
    margin: 0 0 20px;
    background: no-repeat 50%;
    -webkit-background-size: cover;
    background-size: cover;
    @include inner-box-shadow(0px, -2px, 6px, rgba(0, 0, 0, 0.5));
}

.social-media * {
    border-width: 0;
}

.team {
    font-family: "Lato", sans-serif;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
}

.team.title {
    font-size: 2.5em;
    color: $header-color;
    text-align: center;
    padding-top: 30px;
}

.team.description {
    margin-top: 50px;
    font-size: 1.3em;
    color: #7a8793;
    text-align: center;
    width: 80%;
}

.team.member {
    width: 300px;
    margin-bottom: 30px;
    float: left;

    @media screen and (max-width: $break-large) {
        display: inline-block;
        float: none;
    }
}

.team.rooster.wrap {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.team.rooster {
    margin-top: 60px;
    display: inline-block;
}

.team.member * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.team.member.name {
    font-family: "Open Sans", sans-serif !important;
    color: $header-color;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 0;
    font-style: normal;
    font-variant: normal;
    font-language-override: normal;
}

.team.member.role {
    font-size: 0.8em;
    font-weight: 400;
    color: #8395a6;
}

.article .read-more {
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 0.8em;
    background-color: rgba(118, 142, 165, 0.18);
    color: hsla(210, 10%, 59%, 0.76);
    border-bottom: 2px solid rgba(0, 0, 0, 0.253);
    border-radius: 4px;
    font-weight: 700;
}

.article .read-more:hover {
    background-color: rgba(118, 142, 165, 0.28);
    border-bottom: 2px solid rgba(0, 0, 0, 0.353);
}

.actions.admin a {
    display: inline-block;
    text-decoration: none;
    border-width: 0;
    background-color: rgba(#66A888, 0.7);
    color: $text-color;

    border-bottom: 2px solid hsla(158, 26%, 16%, 0.49);
    border-radius: 4px;
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
}

.actions {
    margin-bottom: 8px;
}

// 4 - 0 - 4
.four-oh-four {
    font-family: "Open Sans", sans-serif;
    text-justify: inter-word;
    width: 19em;
    display: block;
    font-weight: 700;
    padding: 20px;
    background: rgba(0, 0, 0, 0.11);
    box-sizing: content-box;
    margin: 35px auto 0;
    border-radius: 10px;
}

.four-oh-four .error-code {
    padding: 0;
    display: block;
    font-size: 167px;
    color: #556473;
    margin: -46px 0 -44px;
}

.four-oh-four .error-description {
    display: block;
    font-size: 49px;
    color: #ab6a67;
    padding: 0;
    text-transform: uppercase;
}

.four-oh-four .error-message {
    display: block;
    font-size: 1.1em;
    color: #556473;
}

.image-list-entry .button {
    display: inline-block;
    padding: 3px 5px;
    border-width: 0;
    text-decoration: none;
    font-size: 1.2em;
}

.image-list-entry .button:hover {
    background-color: #262e36;
}

.delete {
    color: $delete-color;
}

#footer-margin {
    width: 100%;
    height: 30px;
}

/* PhotoSwipe */
.pswp--animate_opacity,
.pswp__bg,
.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
    -webkit-transition: opacity 333ms cubic-bezier(.4, 0, .22, 1);
    transition: opacity 333ms cubic-bezier(.4, 0, .22, 1);
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.very-slow-transition {
    transition: .5s;
}

.slow-transition {
    transition: .4s;
}

.normal-transition {
    transition: .3s;
}

.fast-transition {
    transition: .2s;
}

.very-fast-transition {
    transition: .1s;
}

.fb-comments, .fb-comments span, .fb-comments iframe[style] {width: 100% !important;}