$action-button-background: hsla(212, 51%, 55%, 1);

.admin {
    background-color: #354351;
    margin: 0;
    padding: 0;
}

.admin * {
    box-sizing: content-box;
}

.admin .header-wrap {
    height: 56px;
    background-color: #386eab;
    border-bottom: 3px solid #2e5a8c;
}

//noinspection CssUnknownTarget
.admin .header-wrap .logo {
    width: 56px;
    height: 56px;
    border-bottom: 3px solid #2a5280;
    border-right: 1px solid #2a527f;
    float: left;
    background: rgb(52, 102, 158) url("/static/img/katz_icon.png") no-repeat 10px;
}

.admin .header-wrap .header {
    width: calc(100% - 58px);
    height: 100%;
    border-left: 1px solid #3b73b3;
    margin-left: 57px;
    display: flex;
}

.admin .header-wrap .header .title-wrap {
    display: inline-block;
    padding-left: 20px;
    min-width: 160px;
    padding-top: 8px;
}

.admin .header-wrap .header .title-wrap .title {
    display: inline-block;
    font-weight: bold;
    color: $text-color;
    font-size: 18px;
    margin-bottom: -2px;
}

.admin .header-wrap .header .title-wrap .subtitle {
    display: block;
    font-size: 11px;
    color: hsla(212,53%,71%,1);
}

.admin .header-wrap .header .buttons {
    padding-top: 10px;
    margin-right: 10px;
    @include disable-selection();
    display: flex;
}

.admin .header-wrap .header .buttons a:hover {
    border-width: 0 !important;
}

.admin .header-wrap .header .buttons .button {
    background: #5288c7;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 5px;
    padding: 8px;
    font-size: 0.8em;
    font-weight: bold;
    color: #E6F2FF;
    display: flex;
    line-height: 22px;
    min-width: 22px;
}

.admin .header-wrap .header .buttons .button:hover {
    background: lighten($action-button-background, 5%);
}

.admin .header-wrap .header .buttons .button:active {
    background: darken($action-button-background, 5%);
}

.admin .header-wrap .header .buttons .button.margin-left {
    margin-left: 5px;
}

.admin .header-wrap .header .buttons .button.margin-right {
    margin-right: 20px;
}

$action-button-green-background: hsla(131, 43%, 60%, 0.8);

.admin .header-wrap .header .buttons .button.green {
    background: $action-button-green-background;
}

.admin .header-wrap .header .buttons .button.green:hover {
    background: lighten($action-button-green-background, 5%);
}

.admin .header-wrap .header .buttons .button.green:active {
    background: darken($action-button-green-background, 5%);
}

$action-button-red-background: hsla(0,56%,65%,0.92);

.admin .header-wrap .header .buttons .button.red {
    background: $action-button-red-background;
}

.admin .header-wrap .header .buttons .button.red:hover {
    background: lighten($action-button-red-background, 5%);
}

.admin .header-wrap .header .buttons .button.red:active {
    background: darken($action-button-red-background, 5%);
}

.admin .header-wrap .header .buttons .button .fa {
    font-size: 14px;
    color: #d1e0f0;
    margin-left: 2px;
    margin-right: 2px;
    width: 100%;
    text-align: center;
    line-height: 22px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.26);
}

.admin .header-wrap .header .buttons .button span {
    margin-left: 4px;
}

.admin .header-wrap .header .search-wrap {
    display: inline-block;
    width: 63px;
    margin-top: 4px;
    text-align: -webkit-right;
}

.admin .header-wrap .header .search {
    margin-top: 7px;
    height: 33px;
    border-radius: 2px;
    width: 50px;
    background-color: #2e5a8c;
    border: 1px solid #2a5280;
    box-shadow: 0 1px 0 0 #437dbf;
    margin-right: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.admin .header-wrap .header .search.extended {
    width: 250px;
}

.admin .header-wrap .header .search.extended input {
    visibility: hidden;
}

.admin .header-wrap .header .search-wrap .search .fa-search {
    height: 33px;
    line-height: 33px;
    margin-left: 6px;
    color: #d1e0f0;
}

.admin .header-wrap .header .search-wrap .search input {
    border-width: 0;
    background: transparent;
    margin-left: 10px;
    width: calc(100% - 40px);
    height: 20px;
    margin-top: -4px;
    top: -1px;
    position: relative;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    color: #b8c2cc;
    outline: none;
    visibility: visible;
}

.admin .header-wrap .header .welcome-wrap {
    margin-left: auto;
    margin-right: 30px;
    text-align: right;
    height: 59px;
    color: #a6c2e2;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.admin .header-wrap .header .welcome-wrap:hover {
    background: rgba(0,0,0,0.15);
}

.admin .header-wrap .header .welcome-wrap .greeting {
    display: inline-block;
    margin-right: 5px;
}

.admin .header-wrap .header .welcome-wrap .user {
    font-weight: 700;
    margin-top: 17px;
    display: inline-block;
}

.admin .content-wrap {
    height: calc(100% - 59px);
    width: 100%;
    display: table;
}

.admin .content-wrap .menu {
    height: 100%;
    min-width: 56px;
    max-width: 56px;
    width: 56px;
    background: #2c343d;
    border-right: 1px solid #283038;
    display: table-cell;
    vertical-align: top;
}

.admin .menu .item {
    height: 35px;
    color: #99abbf;
}

.admin .menu .item:hover {
    background-color: hsla(212, 16%, 19%, 1);
    cursor: pointer;
}

.admin .menu .item.active {
    background-color: #323b45;
    border-right: 1px solid #2e3640;
    border-left: 3px solid #386EAB;
    width: calc(100% - 3px);
    color: hsla(212, 51%, 58%, 1) !important;
}

.admin .menu .item.active > i {
    width: calc(100% - 3px);
}

.admin .menu .item.disabled {
    background: transparent;
    color: rgba(153, 171, 191, 0.3);
    cursor: default;
}

.admin .menu .item.disabled:hover {
    background: transparent;
}

.admin .menu .fa {
    font-size: 18px;
    width: 100%;
    text-align: center;
    line-height: 37px;
}

.admin .content-wrap .content {
    display: table-cell;
    width: calc(100% - 57px);
    box-sizing: border-box;
}