.article {
    font-family: "Lato", sans-serif;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 0 10px 10px;
}

.article .article-header span.title {
    padding: 0;
    display: block;
    margin: 0 0 -5px;

    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1.7em;
    color: #A6B1A2;
}

.article .article-header .info {
    padding: 0;
    display: block;
    margin-top: 3px;
    font-size: 0.8em;
    font-weight: 600;
    color: #586c80;
    font-family: "Open Sans", sans-serif;
}

.article .article-content {
    font-size: 15px;
    line-height: 23px;
    text-rendering: optimizeLegibility;
    margin-top: 30px;
}

.article .align-left {
    text-align: left;
}

.article .align-left span {
    margin-left: 20px;
}

.article-navigation {
    padding: 0;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    color: #586c80;
    margin: 30px auto 20px;
    font-weight: 700;
}

.article-navigation a {
    text-decoration: none;
    color: #6d849c;
}

.article-navigation a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
}

.article-navigation a:visited {
    text-decoration: none;
}

.article-nav.prev {
    float: left;
    width: 50%;
}

.article-nav.next {
    text-align: right;
    float: right;
    width: 50%;
}

.article-content .markdown-image {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    display: inline-flex;
    flex-direction: column;
}

.article-content .markdown-image .title {
    padding: 0;
    margin: 0;
    color: #AAA;
    font-style: italic;
}

.article-content img {
    max-width: 100%;
    margin: 0;
    cursor: pointer;
}

.article-content .markdown-image .gif + .image-overlay {
    background: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    margin: 0;
    display: flex;
    align-items: center;
}

.article-content .markdown-image .gif + .image-overlay .fa-stack {
    font-size: 4em;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
}

.article-content .markdown-image .gif + .image-overlay .fa-circle {
    color: rgba(0, 0, 0, 0.3);
}

.article-content .markdown-image .gif + .image-overlay .fa-play {
    margin-left: 5px;
}

.article-content .markdown-image .gif.paused + .image-overlay {
    visibility: visible;
}

.article-content .markdown-image .gif.playing + .image-overlay {
    visibility: hidden;
}

.article-content canvas {
    width: 100%;
    margin: 1em 0;
}

.article-header a.title {
    text-decoration: none;
}

.article-header a.title:hover {
    text-decoration: none;
    text-decoration-style: solid;
    border: 0;
    color: #A6B1A2;
}
