.blog-admin.article-list a {
    color: inherit;
}

.blog-admin.article-list a:hover {
    text-decoration: underline;
    border-width: 0;
}

.blog-admin.article-list .table.old {
    width: calc(100% - 60px);
    display: table;
    margin: 20px auto auto;
    border-collapse: collapse;
    box-sizing: border-box;
    font-size: 12px;
    color: #b6bfc9;
    border: 1px solid #303b45;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.blog-admin.article-list .table.old .header {
    display: table-row;
    background: #3a4a5a !important;
    font-weight: bold;
    box-shadow: 0 5px 0 0 white;
    color: #e6d4c5;
    border: 1px solid #303B45;
    border-bottom: 1px solid hsla(210, 22%, 26%, 1);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.blog-admin.article-list .table.old .row {
    display: table-row;
    background: hsla(211, 21%, 39%, 1);
    width: calc(100% - 2px);
    border-bottom: 1px solid hsla(211, 21%, 33%, 1);
    border-left: 1px solid #303B45;
    border-right: 1px solid #303B45;
}

.blog-admin.article-list .table.old .row:last-child {
    border-bottom: 0 !important;
}

.blog-admin.article-list .table.old .row:nth-child(odd) {
    background: hsla(211, 21%, 37%, 1);
}

.blog-admin.article-list .table.old .cell {
    display: table-cell;
    padding: 10px;
}

.blog-admin.article-list .table.old .cell.title {
    width: 80%;
    font-weight: bold;
}

.blog-admin.article-list .table.old .cell.author {
    min-width: 120px;
}

.blog-admin.article-list .table.old .cell.date-created {
    min-width: 100px;
    text-align: right;
}

.blog-admin.article-list .table.old .cell.date-modified {
    min-width: 100px;
    text-align: right;
}

.blog-admin.article-list .table.modern {
    width: calc(100% - 60px);
    display: table;
    margin: 20px 20px 0;
    border-collapse: collapse;
    box-sizing: border-box;
    font-size: 0.8em;
    color: hsla(212,15%,86%,1);;
}

.blog-admin.article-list .table.modern .header {
    display: table-row;
    background: transparent !important;
    color: rgba(255, 255, 255, 0.4);
}

.blog-admin.article-list .table.modern .row {
    display: table-row;
    width: calc(100% - 2px);
    cursor: pointer;
}

.blog-admin.article-list .table.modern .row:hover {
    background: rgba(0,0,0,0.1);
    border-radius: 27px;
    border-width: 0;
    color: hsla(212,80%,73%,1);
}

.blog-admin.article-list .table.modern .cell {
    display: table-cell;
    padding: 8px 4px;
    text-align: right;
}

.blog-admin.article-list .table.modern .cell:first-child {
    padding-left: 10px;
}

.blog-admin.article-list .table.modern .cell:last-child {
    padding-right: 10px;
}

.blog-admin.article-list .table.modern .cell.title {
    width: 80%;
    text-align: left;
}

.blog-admin.article-list .table.modern .cell.author {
    min-width: 140px;
}

.blog-admin.article-list .table.modern .cell.date-created {
    min-width: 100px;
}

.blog-admin.article-list .table.modern .cell.date-modified {
    min-width: 100px;
}

.blog-admin.edit-article {
    display: flex;
    width: 100%;
    height: calc(100vh - 59px);
}

.blog-admin.edit-article .editor {
    margin-left: 10px;
    margin-top: 30px;
    flex-grow: 1;
    margin-right: 30px;
}

.blog-admin.edit-article .editor .header {
    display: block;
    font-weight: bold;
    color: hsla(210, 21%, 60%, 1);
    font-size: 0.84em;
}

.blog-admin.edit-article .editor .title {
    margin-top: 4px;
    padding: 9px;
    background: hsla(210, 21%, 24%, 1);
    border-radius: 0;
    width: 100%;
    border: 1px solid hsla(210, 21%, 21%, 1);
    box-shadow: 0 1px 0 0 hsla(210, 21%, 30%, 1);
    margin-bottom: 18px;
    outline: none;
    color: hsla(210, 9%, 65%, 1);
    font-size: 0.9em;
    font-weight: bold;
}

.blog-admin.edit-article .editor .article {
    width: 100%;
    padding: 8px;
    background: #303D4A;
    border: 1px solid #2A3541;
    height: calc(100% - 200px);
    margin-top: 4px;
    outline: none;
    color: hsla(210, 9%, 65%, 1);
    resize: none;
    margin-bottom: 0px !important;
}

.blog-admin.edit-article .editor .content-actions {
    background: hsla(210, 21%, 24%, 1);
    width: calc(100% + 12px);
    height: 33px;
    display: flex;
    padding-left: 4px;
    padding-top: 4px;
    top: 5px;
    left: 0;
    position: relative;
    border: 1px solid #2A3541;
    border-bottom-width: 0;
}

.blog-admin.edit-article .editor .content-actions .button {
    width: 28px;
    height: 28px;
    background: hsla(210,21%,29%,1);
    margin-right: 4px;
    border-radius: 2px;
    cursor: pointer;
}

.blog-admin.edit-article .editor .content-actions .button:hover {
    background: hsla(210,21%,32%,1);
}

.blog-admin.edit-article .editor .content-actions .button:active {
    background: hsla(210,21%,27%,1);
}

.blog-admin.edit-article .editor .content-actions .button .fa {
    width: 100%;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    color: rgba(209, 224, 240, 0.5);
}

.blog-admin.edit-article .editor .article::-webkit-scrollbar {
    width: 6px;
}

.blog-admin.edit-article .editor .article::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.blog-admin.edit-article .editor .article::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

.blog-admin.edit-article .preview {
    padding-top: 20px;
    width: 640px;
    overflow-y: scroll;
    display: table-cell;
    box-shadow: -4px 0 4px -3px rgba(0, 0, 0, 0.29);
}

.blog-admin.edit-article .preview::-webkit-scrollbar {
    width: 6px;
}

.blog-admin.edit-article .preview::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.blog-admin.edit-article .preview::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

.blog-admin.edit-article .preview .article {
    width: initial !important;
}