.dialog-component {
    font-family: 'Open Sans', sans-serif;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(211, 20%, 23%);
    padding: 20px 30px 30px;
    border-radius: 3px;
    border: 1px solid hsla(211, 20%, 26%, 0.4);
    box-sizing: border-box !important;
}

.dialog-component * {
    box-sizing: border-box !important;
}

.dialog-component h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
    color: hsla(205, 8%, 60%, 1);
    width: 100%;
}

.dialog-component .message {
    margin-bottom: 10px;
    padding: 10px;
    display: inline-block;
    color: #919AA1;
    font-size: 14px;
}