$form-label-color: rgba(209, 212, 214, 0.64);
$form-details-color: hsla(211, 9%, 61%, 1);

.form {
    font-family: 'Open Sans', sans-serif;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(211, 20%, 23%);
    padding: 20px 30px 30px;
    border-radius: 3px;
    border: 1px solid hsla(211, 20%, 26%, 0.4);
    box-sizing: border-box !important;
}

.form * {
    box-sizing: border-box !important;
}

.form h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
    color: hsla(205, 8%, 60%, 1);
    width: 100%;
}

.form .text-field {
    width: 100%;
    height: 30px;
    font-size: 13px;
    color: #e0e0e0;
    background-color: #27303a;
    margin-bottom: 0;
    border: 1px solid #37424D;
    outline: 0;
    margin-top: 15px;
    padding: 10px 10px 10px 5px;
    border-radius: 2px;
}

.form .text-field + .label {
    position: relative;
    top: -52px;
    color: rgba(209, 212, 214, 0.64);
    left: 3px;
    font-weight: bold;
    font-size: 13px;
}

.form .boolean-field {
    margin-bottom: 14px;
    border-radius: 2px;
    padding: 5px 5px 5px 0;
}

.form .boolean-field .label {
    top: -45px;
    color: $form-label-color;
    left: 3px;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
}

.form .boolean-field .check-mark-wrap {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-color: #374452;
    border-radius: 3px;
    border: 1px solid hsla(211, 20%, 19%, 1);
    padding-top: 0;
    cursor: pointer;
}

.form .boolean-field .check-mark.on {
    visibility: visible;
}

.form .boolean-field .check-mark.off {
    visibility: hidden;
}

.form .boolean-field .check-mark {
    font-size: 13px;
    padding-left: 2px;
    top: 2px;
    position: relative;
    color: #9ACE74;
}

.form .boolean-field .editor {
    @include disable-selection();
    cursor: pointer;
    width: 100%;
}

.form .boolean-field .details {
    color: $form-details-color;
    left: 10px;
    font-size: 13px;
    margin-left: 6px;
}

.form .select-field {
    margin-bottom: 14px;
}

.form .select-field .editor {
    height: 30px;
    border-radius: 3px;
    width: 100%;
    font-size: 13px;
    color: #939ba5;
    background-color: #2F3A46;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #37424D;
    outline: 0;
    margin-bottom: 10px;
    margin-top: -11px;
    cursor: pointer;
}

.form .select-field .title {
    position: relative;
    color: rgba(209, 212, 214, 0.52);
    left: 3px;
    font-weight: bold;
    font-size: 13px;
    width: 90%;
}

.form .select-field i {
    float: right;
    top: 10px;
    position: relative;
    right: 9px;
    font-size: 14px;
    color: hsl(201, 8%, 59%);
}

.form .errors {
    width: 100%;
    border-radius: 3px;
    background-color: hsla(8, 40%, 53%, 0.44);
    padding: 1px;
    margin-bottom: 20px;
    border: 1px solid hsla(8, 40%, 58%, 1);
    font-size: 0.8em;
    color: hsla(8,40%,72%,1);
}