.gallery .title {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    color: #A6B1A2;
    text-align: center;
    margin: 20px auto;
}

.gallery .my-gallery .inner-image {
    width: 100%;
    height: 100%;
    background: no-repeat center;
    background-size: cover;
    cursor: pointer;
}

.gallery .image {
    box-shadow: 0 0 5px black;
    border: 1px solid hsla(21, 10%, 31%, 1);
    background: #262D36;
}

.gallery .image.square {
    width: 250px;
    height: 250px;
}

.gallery .image.long {
    width: 500px;
    height: 250px;
}

.gallery .image.extra-long {
    width: 900px;
    height: 300px;
}

.gallery .image .title {
    position: relative;
    top: -50px;
    height: 30px;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), transparent 50%);
    line-height: 30px;
    text-indent: 20px;
    font-family: "Signika", sans-serif;
    font-weight: 400;
    color: hsla(23, 10%, 70%, 1);
    font-size: 15px;
    text-align: left;
}

.pswp__caption .pswp__caption__center {
    max-width: 100% !important;
}

.pswp__caption .title {
    margin: 0;
    font-size: 14px;
    display: inline-block;
    font-weight: 700;
    color: #fae7d7;

}

.pswp__caption .description {
    font-size: 12px;
}