.gallery-admin .filter {
    color: #99ABBF;
    margin: 10px 0 10px 10px;
    background-color: #425466;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    display: inline-block;
    border-radius: 2px;
    padding: 5px 10px;
}

.gallery-admin .filter .value {
    font-weight: bold;
    color: #D1E0F0;
}

.gallery-admin .fa-close {
    margin-left: 10px;
    color: hsla(355, 58%, 66%, 1);
    padding: 0;
    margin-top: 2px;
    float: right;
    cursor: pointer;
}

.gallery-admin .item {
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 1px;
    display: inline-block;
    padding: 1px;
    background-color: hsla(214, 15%, 15%, 1);
}

.gallery-admin .item .thumbnail {
    width: 300px;
    height: 300px;
    background: no-repeat 50% 50%;
    background-size: cover;
    display: inline-block;
    padding: 1px;
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
}

.gallery-admin .item .thumbnail:hover .edit-wrap {
    margin-top: 0;
}

.gallery-admin .item .thumbnail .edit-wrap {
    float: right;
    width: 33px;
    height: 30px;
    margin-right: 5px;
    margin-top: -40px;
    transition: 0.3s;
}

.gallery-admin .item .thumbnail .edit-wrap .fa {
    transition: 0.3s;
    border-radius: 20px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background-color: rgba(0, 0, 0, 0.51);
    margin-top: -40px;
    cursor: pointer;
    font-size: 14px;
}

.gallery-admin .item .thumbnail:hover .edit-wrap .fa {
    margin-top: 5px;
}

.gallery-admin .item .thumbnail .edit-wrap .fa.blue:hover {
    background-color: rgba(79, 114, 207, 0.81);
}

.gallery-admin .item .thumbnail .edit-wrap .fa.red:hover {
    background-color: rgba(207, 74, 85, 0.81);
}

.gallery-admin .item .thumbnail .edit-wrap .fa-pencil {
    float: right;
    transition: 0.30s;
}

.gallery-admin .item .thumbnail .edit-wrap .fa-trash-o {
    float: right;
    transition: 0.10s;
}

.gallery-admin .item .info {
    height: 50px;
    width: 300px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.23);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.48);
    color: white;
    margin-top: 250px;
}

.gallery-admin .item .info .title {
    font-size: 13px;
    display: inline-block;
    color: white;
    padding-top: 5px;

}

.gallery-admin .item .info .details {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
}

.gallery-admin .item .info .edit-button {
    float: right;
    margin-top: 8px;
    margin-right: 8px;
    color: hsla(211, 19%, 87%, 1);
    visibility: hidden;
}

.gallery-admin .item .info .header-flag {
    position: relative;
    right: -261px;
    top: -27px;
    width: 39px;
    height: 15px;
    color: hsla(213, 40%, 83%, 1);
    font-size: 9px;
    border-radius: 5px;
    background: #386EAB;
    text-shadow: 0 0 0;
    font-weight: 400;
    font-family: "Tahoma", sans-serif;
    line-height: 15px;
    text-align: left;
    text-indent: 7px;
    border-right: 5px solid rgba(0, 0, 0, 0.41);
}

.modal-popup .image-preview {
    display: flex;
    height: 100%;
    align-items: baseline;
    vertical-align: baseline;
}

.modal-popup .image-preview .image {
    max-width: calc(100% - 100px);
    max-height: calc(100% - 100px);
    margin: auto auto;
    display: block;
    border: 20px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    width: auto;
    height: auto;
    min-width: 0;
    min-height: 0;
}