.overlay {
    position: fixed;
    overflow: auto;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 900;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

.overlay:before {
    content: '';
    display: inline-block;
    height: 80%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.login-form-wrap {
    display: inline-block;
    vertical-align: middle;
    outline: none;
    overflow: hidden;
    text-align: center;
    background: rgba(38, 45, 54, 0.15);
    padding: 40px;
    border-radius: 6px;
}

.login-form {
    width: 250px;
    margin: auto auto;
    text-align: center;
}

.login-form .error {
    display: none;
    height: 30px;
    font-size: 12px;
    color: #FF7F7F;
    line-height: 30px;
    margin-bottom: 4px;
    border-radius: 2px;
}

.login-form .title {
    font-size: 1.5em;
    font-weight: 700;
    color: #A6B1A2;
    margin-bottom: 10px;
    display: block;
}

.login-form .fa {
    display: block;
    position: absolute;
    margin-left: 8px;
    margin-top: 9px;
    color: hsla(210, 16%, 57%, 1);
}

.login-form input {
    display: block;
    width: 100%;
    border: 1px solid hsla(210, 21%, 22%, 1);
    outline: none;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 7px;
    background: hsla(210, 16%, 35%, 1);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #fae7d7;
    color: hsla(210, 13%, 75%, 1);
    box-sizing: border-box;
    text-indent: 20px;
    font-size: 13px;
}

.login-form input:-webkit-autofill {
    color: hsla(210, 13%, 75%, 1) !important;
    background-color: hsla(210, 16%, 35%, 1) !important;
}

$login-button-color: #487AA9;

.login-form .button {
    display: block;
    height: 40px;
    width: 100%;
    background: #487AA9;
    border-radius: 2px;
    line-height: 40px;
    font-weight: 700;
    color: hsla(209, 40%, 83%, 1);
    cursor: pointer;
    @include disable-selection;
}

.login-form .button:hover {
    background: lighten($login-button-color, 5%);
}

.login-form .button:active {
    background: darken($login-button-color, 5%);
}

.login-form .button .fa {
    line-height: 40px;
    position: inherit;
    color: hsla(209, 40%, 84%, 1);
}