@mixin box-shadow($left, $top, $blur, $color) {
    -webkit-box-shadow: $left $top $blur $color;
    -moz-box-shadow: $left $top $blur $color;
    box-shadow: $left $top $blur $color;
}

@mixin inner-box-shadow($left, $top, $blur, $color) {
    -webkit-box-shadow: inset $left $top $blur $color;
    -moz-box-shadow: inset $left $top $blur $color;
    box-shadow: inset $left $top $blur $color;
}

@mixin box-shadow-spread($left, $top, $blur, $spread, $color) {
    -webkit-box-shadow: $left $top $blur $spread $color;
    -moz-box-shadow: $left $top $blur $spread $color;
    box-shadow: $left $top $blur $spread $color;
}

@mixin inner-box-shadow-spread($left, $top, $blur, $spread, $color) {
    -webkit-box-shadow: inset $left $top $blur $spread $color;
    -moz-box-shadow: inset $left $top $blur $spread $color;
    box-shadow: inset $left $top $blur $spread $color;
}

@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin disable-selection() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}