.modal-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    visibility: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

@keyframes show-default-keyframes {
    0% {
        margin-top: 90px;
    }

    100% {
        margin-top: 100px;
    }
}

@keyframes hide-default-keyframes {
    0% {
        margin-top: 100px;
    }

    100% {
        margin-top: 90px;
    }
}

.animation-show-default {
    animation: show-default-keyframes 0.2s;
}

.animation-hide-default {
    animation: hide-default-keyframes 0.2s;
}


.modal-popup .content.animation-show-default {
    margin: 100px auto auto;
}

@keyframes show-scale-keyframes {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hide-scale-keyframes {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}

.animation-show-scale {
    animation: show-scale-keyframes 0.3s;
}

.animation-hide-scale {
    animation: hide-scale-keyframes 0.3s;
}

.modal-popup .content.animation-show-scale {
    transform: scale(1);
}


.modal-popup .buttons {
    display: flex;
}

.modal-popup .buttons .button:last-child {
    margin-right: 0 !important;
}

.modal-popup .button {
    height: 46px;
    line-height: 44px;
    width: calc(50% - 5px);
    border-radius: 3px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    @include disable-selection();
    cursor: pointer;
    font-size: 15px;
    border: 0 solid transparent !important;
    color: hsla(205, 8%, 80%, 1);
    display: inline-block;
    margin-right: 10px
}

$apply-button-color: hsla(214, 16%, 42%, 1);

$cancel-button-color: hsla(6, 38%, 49%, 1);

$button-hover-lighten: 5%;

$button-click-darken: 5%;

.modal-popup .button.blue {
    background: $apply-button-color;
}

.modal-popup .button.blue:hover {
    background: lighten($apply-button-color, $button-hover-lighten);
}

.modal-popup .button.blue:active {
    background: darken($apply-button-color, $button-click-darken);
}

.modal-popup .button.red {
    background: $cancel-button-color;
}

.modal-popup .button.red:hover {
    background: lighten($cancel-button-color, $button-hover-lighten);
}

.modal-popup .button.red:active {
    background: darken($cancel-button-color, $button-click-darken);
}
