@import "mixins";

.sidebar {
    float: right;
    display: block;
    background: #303e4a;
    margin: -16px 0 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 42px 10px 10px;

    @media screen and (max-width: $break-large) {
        display: none !important;
        width: 0;
    }
}

.sidebar .widget {
    padding: 0;
    margin: 0 0 2em;
    width: 15em;
}

.sidebar .widget .header {
    height: 50px;
    line-height: 50px;
    text-align: left;
    width: 100%;
    color: #6f8ca8;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 20px;
    text-indent: 4px;
    border-bottom: 2px solid #586C80;
}

.sidebar .widget .content {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: "Lato", "Lietz LindauHamburg", serif;
    font-size: 12px;
}

// About Us widget

.sidebar .widget.about-us {
    font-size: 0.9em;
}

.sidebar .widget.about-us .content {
    font-style: italic;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #A6B1A2;
}

.sidebar .widget.about-us i.fa {
    font-size: 1em;
    width: 1.3em;
    padding-right: 0.3em;
    text-align: center;
    margin-bottom: 0.5em;
}

.sidebar .widget.about-us a {
    font-size: 0.9em;
}

.sidebar .widget.about-us a.icon-line {
    border-bottom: 1px solid transparent;
    @include transition(0.3s);
    display: inline-block;
    height: 1.4em;
    margin-bottom: 0.3em;
}

.sidebar .widget.about-us a.icon-line:hover {
    border-bottom: 1px solid;
}

// Latest Articles Widget

.sidebar .widget.rss-feed .header .rss {
    float: right;
    //noinspection CssUnknownTarget
    background: url('../img/atom_icon.png') no-repeat 50%;
    width: 28px;
    height: 28px;
    border-width: 0;
    margin-top: 13px;
    margin-right: 6px;
    cursor: pointer;
}

.sidebar .widget.rss-feed .header .rss:hover {
    border-radius: 2px;
    background-color: rgba(118, 142, 165, 0.18);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.sidebar .widget.rss-feed .headline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.sidebar .widget.rss-feed .headline li {
    line-height: 13px;
}

.sidebar .widget.rss-feed .headline a {
    margin: 0;
    display: block;
    font-family: "Open Sans", sans-serif;
    text-decoration-style: solid;
    font-size: 13px;
    line-height: 17px;
    color: #fae7d7;
    text-decoration: none;
    padding: 8px 0 8px 4px;
    border-width: 0;
    border-bottom: 1px dotted #586C80;

    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

.sidebar .widget.rss-feed .headline a:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

.sidebar .widget.rss-feed .headline .date {
    margin-right: 2px;
    color: #6f8ca8;
    font-size: 11px;
}

// Tags Widget

.sidebar .widget.tags .tag {
    padding: 0.2em 0.4em;
    text-align: center;
    display: inline-block;
    margin: 0.4em 0.2em;
    background: rgba(118, 142, 165, 0.28);
    color: #A6B1A2;
    border-radius: 0.2em;
}