a {
    outline: 0;
}

div#inner-body div#content {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #354351;
    padding: 0 0 34px;
}

h1 {
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 30px;
    padding: 0;
}

span.article-details {
    font-size: 10px;
    color: #28333d;
}

span.status {
    margin-left: auto;
    position: absolute;
    right: 10px;
}

div.center {
    padding: 0;
    margin: 0 auto;
}

div.flash {
    font-family: "Tahoma", sans-serif;
    font-size: 11px;
    padding: 6px;
    width: 574px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;

    text-shadow: -1px -1px 0 rgba(32, 49, 66, 0.3),
    1px -1px 0 rgba(32, 49, 66, 0.3),
    -1px 1px 0 rgba(32, 49, 66, 0.3),
    1px 1px 0 rgba(32, 49, 66, 0.3);
}

div.flash.error {
    background-color: #734854;
    border: 1px solid #9c6d7a;
    color: #d9ced1;
}

div.flash.warning {
    background-color: #4d6c85;
    border: 1px solid #7b99b0;
    color: #dadcf2;
}

div.flash.information {
    background-color: #528765;
    border: 1px solid #89b39f;
    color: #dbe5cf;
}

div.flash-messages {
    width: 100%;
    margin-top: 20px;
}

div.align-left {
    float: left;
}

div.align-right {
    float: right;
}

span.page-title {
    display: block;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 30px;
    padding: 0;
    text-indent: 10px;
}

span.center {
    text-align: center;
}