$break-large: 1000px;
$break-small: 760px;

// Dimensions
$desktop-width: 1000px;
$footer-height: 75px;
$sidebar-width: 15em;

// Colors
$text-color: #fae7d7;
$title-text-color: #e9d5cf;
$header-color: #A6B1A2;
$content-bgcolor: #354351;
$dark-bgcolor: #2c353f;
$article-header-color: #FF957F;
$delete-color: #cc3c39;

$nav-height: 56px;