.upload-component {
    font-family: 'Open Sans', sans-serif;
    width: 500px;
    margin-left: auto;
    background-color: hsl(211, 20%, 23%);
    padding: 20px 30px 30px;
    border-radius: 3px;
    border: 1px solid hsla(211, 20%, 26%, 0.4);
    margin-right: auto;
    box-sizing: border-box !important;
}

.upload-component * {
    box-sizing: border-box !important;
}

.upload-component.waiting {
    width: calc(100% - 200px);
    height: calc(100% - 200px);
}

.upload-component .dropzone {
    border: 10px dashed #394756;
    display: table;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.upload-component .dropzone.active {
    border: 10px solid hsla(211, 20%, 36%, 1);
}

.upload-component .dropzone .message {
    width: 100%;
    height: 100%;
    text-align: center;
    display: table-cell;
    color: #394756;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
}

.upload-component .progress-bar {
    width: 100%;
    background-color: hsla(211, 20%, 26%, 1);
    padding: 1px;
}

.upload-component .progress-bar .fill {
    width: 71%;
    height: 44px;
    background: hsla(120, 22%, 59%, 1);
    border-bottom: 2px solid hsla(120, 19%, 41%, 1);
    transition: 0.3s;
}

.upload-component .progress-bar .info-wrap {
    float: left;
    width: 100%;
}

.upload-component .progress-bar .info-wrap .percent {
    font-weight: bold;
    font-size: 25px;
    margin-left: 7px;
    padding-top: 3px;
    width: 70px;
    color: hsla(120, 22%, 76%, 1);
    float: left;
}

.upload-component .progress-bar .info-wrap .info {
    padding-top: 5px;
    float: right;
    width: calc(100% - 80px);
}

.upload-component .progress-bar .info-wrap .info .first-line {
    font-size: 12px;
    color: hsla(72, 40%, 86%, 1);
    font-weight: bold;
    display: block;
}

.upload-component .progress-bar .info-wrap .info .second-line {
    display: block;
    font-size: 10px;
    color: hsla(59, 20%, 80%, 1);
}