% extends "index.html"


% block inner_content
    % for article in articles
    <div class="article">
        <div class="article-header">
            <a href="{{ url_for('blog.show', article_public_url=article.public_url) }}" class="title">
                <span class="title">{{ article.title if article.title != '' else 'Untitled Article' }}</span>
            </a>
            <span class="info">by {{ article.author.name }} on {{ long_date(date_from_timestamp(article.created_timestamp)) }}</span>
        </div>
        <div class="article-preview">
            % if article.intro_paragraph != None
            {{ article.intro_paragraph | markdown }}
            % else
            {{ article.content.split("\n")[0] | markdown }}
            % endif
        </div>
        % if len(article.content.split("\n")) > 1
            <a href="{{ url_for('blog.show', article_public_url=article.public_url) }}">
                <span class="read-more"><i class="fa fa-paw" style="font-size: 0.9em; margin-right: 8px;"></i>read more</span>
            </a>
        % endif
    </div>
    % endfor
% endblock
