% extends "index.html"
% import "jinja/social_media.html" as social_media
% import "jinja/std.html" as std

% block title
{{ article.title }}
% endblock

% block head
{{ std.jslibs(["jquery"]) }}
{{ std.js("gifplayer.js") }}
% endblock

% block inner_content
    {{ social_media.requirements() }}

    <div class="article">
        <div class="article-header">
            <span class="title">{{ article.title }}</span>
            <span class="info">written by {{ article.author.name }} on {{ long_date(date_from_timestamp(article.created_timestamp)) }}{% if current_user.is_authenticated %} &#8226; <a href="{{ url_for('admin.article_write', article_id=article.id) }}" class="edit">edit</a>{% endif %}
            </span>
        </div>
        <div class="article-content">
            {{ article.content | markdown }}
        </div>

        <div class="social-media" style="line-height: 0.8em;">
            {{ social_media.facebook(article) }}
            {{ social_media.twitter() }}
            {{ social_media.google_plus() }}
            {{ social_media.pinterest() }}
        </div>

        <div class="article-navigation">
            % if previous_article
            <div class="article-nav prev">
                <a href="{{ url_for('blog.show', article_public_url=previous_article.public_url) }}">« {{ previous_article.title }}</a>
            </div>
            % endif
            % if next_article
                <div class="article-nav next">
                    <a href="{{ url_for('blog.show', article_public_url=next_article.public_url) }}">{{ next_article.title }} »</a>
                </div>
            % endif
        </div>

        {{ social_media.facebook_comments() }}
    </div>

    <script>
        $(document).ready(function () {
            GIFPlayer();
        });
    </script>
% endblock
