% extends "index.html"

% block title
404 - Not Found
% endblock

% block banner
% endblock

% block content
<div class="four-oh-four">
    <span class="error-code">404</span>
    <span class="error-description">Not Found</span>
    <span class="error-message">It is pitch black. You are likely to be eaten by a grue.</span>
</div>
% endblock