% from "index.html" import stylesheet_links with context
% import "jinja/std.html" as std with context

<html>
<head>
    {{ std.header(title("Admin"), description(), keywords()) }}
    {{ std.jslibs(["jquery", "react", "react-dom"]) }}
    {{ stylesheet_links() }}

    {{ std.js(page.js) }}

    % block head
    {# placeholder for child template specific html #}
    % endblock
</head>

<body class="admin">

<div class="header-wrap">
    <a href="/"><div class="logo"></div></a>
    <div class="header">
        <div class="title-wrap">
            <span class="title">{% block title %}{{ page.title }}{% endblock %}</span>
            <span class="subtitle">{% block subtitle %}{{ page.subtitle }}{% endblock %}</span>
        </div>
        <div class="buttons-wrap"></div>
        <div class="search-wrap"></div>
        <div class="welcome-wrap">
            <span class="greeting">welcome,</span>
            <span class="user">{{ auth.user().name }}</span>
        </div>
    </div>
</div>

<div class="content-wrap">
    <div class="menu">
    </div>
    <div class="content">
    </div>
</div>

</body>
</html>