% macro render_errors(field)
    % if field.errors
    <div class="errors">
        <ul>
            % for error in field.errors
            <li>{{ error }}</li>
            % endfor
        </ul>
    </div>
    % endif
% endmacro

% macro render_field(field)
    {{ ignore(kwargs) }}
    % if field.type == 'BooleanField':
        {{ render_boolean_field(field, **kwargs) }}
    % elif field.type == 'FileField':
        {{ render_upload_field(field, **kwargs) }}
    % else:
        {{ render_default_field(field, **kwargs) }}
    % endif
% endmacro

% macro render_boolean_field(field)
    % set class_ = kwargs.pop('class_', '')
    <span class="title">{{ field.label.text }}</span>
    {{ render_errors(field) }}
    {{ field(class_="field") }}<label for="{{ field.name }}" class="unselectable {{ class_ }}"></label>
    <br/><br/>
% endmacro

% macro render_upload_field(field)
    {{ ignore(kwargs) }}
    % set class_ = kwargs.pop('class_', '')
    % set allowed_ = kwargs.pop('allowed_', '')

    <span class="title">{{ field.label.text }}</span>
    {{ render_errors(field) }}
    <input class="field {{ class_ }}" id="{{ field.id }}" name="{{ field.id }}" type="file" allowed="{{allowed_}}">
    <br/><br/>
% endmacro

% macro render_default_field(field)
    % set class = kwargs.pop('class', '')
    % set render_label = kwargs.pop('label', True)
    % set editor_class = kwargs.pop('editor_class', '')
    % set label_class = kwargs.pop('editor_class', '')
    % set id = kwargs.pop('id', '')
    % if render_label:
        <span class="{{ class }} {{ label_class }}">{{ field.label }}</span> <br/>
    % endif
    {{ render_errors(field) }}
    {{ field(class_="field " + class + " " + editor_class, id_=id) }} <div class="after-field"></div>
% endmacro