% import "jinja/google_analytics.html" as ga
% import "jinja/std.html" as std

% macro render_flash_messages()
    % with messages = get_flashed_messages(with_categories=true)
        {{ ignore(sort_by_category(messages)) }}
        % if len(messages) > 0
            <div class="flash-messages">
                % for category, message in messages
                <div class="flash {{ category }}">{{ message }}</div>
                % endfor
            </div>
        % endif
    % endwith
% endmacro

% macro content_with_sidebar()
<div class="group">
    <div class="inner-content">
        {{ render_flash_messages() }}
        % block inner_content
        % endblock
    </div>
    <div class="sidebar">
        % block sidebar
        {{ render_sidebar() }}
        % endblock
    </div>
</div>
% endmacro

% macro stylesheet_links()
    {{ std.css(["main.css"]) }}

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
% endmacro

% macro render_footer()
    <div id="footer-margin"></div>
    <footer>
        <span class="copyright">© 2015 Katz Studio.</span>
        <span class="description">Contact us at <a href="mailto:contact@katzstudio.com">contact@katzstudio.com</a>.</span>
        <span class="description">Designed and implemented by Alexandru Pană using <a href="http://flask.pocoo.org/">flask</a>.</span>
    </footer>
% endmacro

% macro render_head()
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="Description" content="Home of the indie game developers Katz!">
		<meta name="Keywords" content=" ">
        <meta name="viewport" content="width=device-width">

		<title>Katz Studio - {% block title %} Index {% endblock %}</title>

        <meta property="og:title" content="Katz Studio - {{ self.title() }}" />
        <meta property="og:site_name" content="Katz Studio"/>
        <meta property="og:url" content="{{request.url}}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:description" content="Home of the indie game developers Katz!"/>
        <meta property="og:image" content="{{ gallery.random_banner_image() }}"/>


        <link rel="icon" type="image/png" href="{{url_for('static', filename='img/favicon.png') }}" />

		{{ stylesheet_links() }}

        % block head
        % endblock
	</head>
% endmacro

% macro render_sidebar()
    % include "sidebar.html"
% endmacro

% macro render_navbar(content_class="", navbar_class="")
<div class="navbar {{ navbar_class }}">
    <div class="content {{ content_class }}">
        % if False and current_user.is_authenticated
            <a href="#"><div id="auth_user_indicator">{{ current_user.username }}</div></a>
        % endif
        <a href="{{ url_for('main.index') }}"><div id="logo"></div></a>
        <ul class="header-menu">
            <li><a href="{{url_for('main.index')}}">blog</a></li>
            <li><a href="{{url_for('main.team')}}">team</a></li>
            <li><a href="{{url_for('main.gallery')}}">gallery</a></li>
            % if current_user.is_authenticated
            <li><a href="{{url_for('admin.blog_admin')}}">admin</a></li>
            % endif
        </ul>
    </div>
</div>
% endmacro

<!DOCTYPE html>
<html>
    {{ render_head() }}
	<body class="high-quality">
        <div class="page-wrap">

            <div class="page">
                % block navbar
                {{ render_navbar() }}
                % endblock

                % block banner
                <div id="banner-wrap">
                    <div id="banner" style="background-image: url('{{ gallery.random_banner_image() }}');"></div>
                </div>
                % endblock

                <div class="inner-body">

                    <div id="content">
                        % block content
                        {{ content_with_sidebar() }}
                        % endblock
                    </div>
                </div>
            </div>

            {{ render_footer() }}
        </div>

        {{ ga.track() }}
	</body>
</html>
