<div class="widget about-us">
    <div class="header">About Us</div>
    <div class="content">
        We're a small, independent team of young professionals who are passionate about art, engineering and games. We
        believe in elegance through beauty and simplicity.
    </div>

    <a href="mailto:team@katzstudio.com" class="icon-line">
        <i class="fa fa-envelope"></i><span>team@katzstudio.com</span>
    </a>
    <a href="https://www.google.ro/maps/place/Cluj-Napoca/@46.7833643,23.5464733,12z/data=!3m1!4b1!4m2!3m1!1s0x47490c1f916c0b8b:0xbbc601c331f148b?hl=en"
       class="icon-line" target="_blank">
        <i class="fa fa-map-marker"></i><span>Cluj-Napoca, Romania</span>
    </a>

</div>


<div class="widget rss-feed">
    <div class="header">Latest articles
        <a class="rss" rel="alternate" title="RSS Feed" type="application/atom+xml"
           href="http://feeds.feedburner.com/katzstudio"></a>
    </div>
    <div class="content">
        <ul class="headline">
            % for headline in headlines
            <li>
                <a href="{{ url_for('blog.show', article_public_url=headline['public_url']) }}">
                    {{ headline.title }}
                </a>
            </li>
            % endfor
        </ul>
    </div>
</div>


{# Tags are not yet supported #}

{#<div class="widget tags">#}
{#    <div class="header">Tags</div>#}
{#    <div class="content">#}
{#        <div class="tag">c++</div>#}
{#        <div class="tag">art</div>#}
{#        <div class="tag">ue4</div>#}
{#        <div class="tag">social</div>#}
{#        <div class="tag">design</div>#}
{#        <div class="tag">funding</div>#}
{#    </div>#}
{#</div>#}
